#canvas-container {
  display: block;
  margin: auto;
  width: 800px;
  position: relative;
}

#golden-body-canvas {
  width: 800px;
  margin-top: 32px;
  margin-bottom: 20px;
  overflow: scroll;
}

#canvas-image {
  width: 32px;
  height: 32px;
  position: absolute;
  top:0px;
  left:-32px;
}

#golden-body-penta-tree, #golden-body-style-tree {
  width: 760px;
  margin: auto;
  padding: 20px;
  border: none;
  border-bottom: 1px solid #f0f;
  background-color: #000;
  color: #0ff;
  font-family: 'Roboto';
}

#golden-body-penta-tree {
  color: #0ff;
}

#golden-body-style-tree {
  color: #ff0;
}

